
<!DOCTYPE html>
<html>
<head>
    <title>Add Stock Movement</title>
</head>
<body>

    {% extends 'base.html' %}
{% block content %}
<h2>Audit Trail</h2>
<table>
    <thead>
        <tr>
            <th>Time</th>
            <th>User</th>
            <th>Action</th>
            <th>Model</th>
            <th>ID</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.timestamp }}</td>
            <td>{{ log.user.username if log.user }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.model_name }}</td>
            <td>{{ log.object_id }}</td>
            <td>{{ log.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

</body>
</html>
